@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    background-color: rgb(255, 255, 255);
}

button, input, select, textarea {
    font-family: inherit;
}