.table {
    width: 100%;
    border-collapse: collapse;
    border: none;
  
}

.table th {
    font-weight: bold;
    color: rgb(33, 37, 41);
}

.table td {
    font-weight: 400;
}

.table th,
.table td {
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    
    padding: 10px;
    background-color: white;
   
}

.table th:not(:last-child),
.table td:not(:last-child) {
    border-right: 1px solid #ddd;
}

.table tbody tr:last-child td {
    border-bottom: none;
}

@media (max-width: 640px) {
  .table th,
  .table td {
    font-size: 13px;
    padding: 8px 6px;
  }
}